_pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Envs
env1 
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
!.vscode/settings.json
.idea/
.spyderproject
.spyproject
.ropeproject

# Test / Coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.nosetests.xml
coverage.xml
*.cover
.py,cover
.hypothesis/
.pytest_cache/
cover/
.mypy_cache/
.dmypy.json
.pyre/
.pytype/

# Jupyter
.ipynb_checkpoints

# Logs and temp
logs/
*.log
*.tmp
*.temp

# Misc
.DS_Store
.history/
*.vsix

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
"""